<h1>Listing users</h1>
<table>
<% @users.each do |user| %>
  <tr>
    <th><%= user.email %></th>
    <th>
    <%=button_to 'Delete User', user, controller: "users", action: "destroy", id: user.id, confirm: "Are you sure?", method: :delete %>
    </th>
  </tr>
<% end %>
</table>

<table>
<% @admins.each do |admin| %>
  <tr>
    <td><%= link_to 'Show', admin %></td>
    <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
    <td><%= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Admin', new_admin_path %>
